
<section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img" style="background-image: url(&quot;images/bg-bunner-2.jpg&quot;); background-size: cover;"></div>
    <div class="main-bunner-inner">
      <div class="container">
        <div class="box-default">
          <h1 class="box-default-title">Bienvenidos</h1>
          <div class="box-default-decor"></div>
          <p class="big box-default-text">Puede iniciar con la asignacion</p>
        </div>
      </div>
    </div>
  </section>