<p>Ruteado a registro, aquí deberia salir la pantalla de registro</p>
<div class="container" *ngIf = "usuario">
    <div class="row">
        <div class="col-md-12">

            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Detalles de {{usuario.nombre}}</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="Nombres" 
                                class="form-control"  formControlName="nombre" [(ngModel)]="usuario.nombre">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="lname" name="name" type="text" placeholder="Apellidos "
                                 class="form-control" formControlName="apellido" [(ngModel)]="usuario.apellido">
                                 
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="email" placeholder="correo electronico"
                                 class="form-control" formControlName="email" [(ngModel)]="usuario.login">
                                 
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="password" name="password" type="password" placeholder=""
                                 class="form-control" formControlName="email" [(ngModel)]="usuario.password">
                                 
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <select name="selectUsuario" class="form-control" formControlName="selectUsuario" [(ngModel)]="usuario.rol"> 
                                    <option value="0" selected>---- Seleccione un tipo de usuario ----</option>
                                    <option value="1">Catedratico</option>
                                    <option value="2">Estudiante</option>
                                    <option value="3">Administrador</option>
                                </select>
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-12 pull-left">
                                <button type="submit" class="btn btn-primary btn-lg" [disabled] = "usuarioForm.invalid" (click)="addUsuario()">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
