<div class="container">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
        <div class="form-group ">
            <label for="inputEmail4">Asignacion</label>
            <small><p class="text-error"></p></small>
        </div>
        <div class="form-group ">
            <label for="inputState">Congresos disponibles</label>
            <select  id="inputState" class="form-control" #txtCurso>    
                <option  type="text"  ></option>
              </select>
            <small><p class="text-error"></p></small>
            <button  type="button"  class="btn btn-primary btn-block">Agregar Curso</button>
        </div> 
    </div>
    <div class="col-md-4" >
        <div class="card text-center">
          <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            
            <button class="btn btn-danger" >
              <i class="far fa-trash-alt">Delete</i>
            </button>
          </div>
          <div class="card-body">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
      <button class="btn btn-danger btn-block">Aceptar</button>
      </div>
</div>