<div class="container">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
        <div class="form-group ">
            <label for="inputEmail4">Asignacion Congresos</label>
            <small><p class="text-error"></p></small>
        </div>
        <div class="form-group ">
            <label for="inputState">Congresos disponibles</label>
            <select  id="inputState" class="form-control" #txtCurso>    
                <option  type="text"  *ngFor="let congreso of this.congresosDisponibles" [value]="congreso.nombre+congreso.id_congreso">{{congreso.nombre}}</option>
              </select>
            <small><p class="text-error"></p></small>
            <button  type="button"  class="btn btn-primary btn-block" (click)="agregar(txtCurso.value)">Agregar Congreso</button>
        </div> 
    </div>
    <div class="col-md-4" *ngFor="let congreso of congresosAgregados">
        <div class="card text-center">
          <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{congreso.nombre}}
            <button class="btn btn-danger" (click)="eliminar(congreso.nombre+congreso.id_congreso)">
              <i class="far fa-trash-alt">Delete</i>
            </button>
          </div>
          <div class="card-body">
            <p>{{congreso.anio}}</p>
          </div>
        </div>
      </div>
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
      <button class="btn btn-danger btn-block" (click)="enviar()">Aceptar Asignación</button>
      </div>
</div>