<div class="container">

    <div class="form-group ">
        <label for="inputEmail4">Asignacion</label>
        <small><p class="text-error"></p></small>
    </div>
    <div class="form-group ">
        <label for="inputState">Cursos disponibles</label>
        <select id="inputState" class="form-control" #txtCiencia>
        </select>
        <small><p class="text-error"></p></small>
        <button  type="button"  class="btn btn-primary btn-block ">Agregar Curso</button>
    </div>

    <div>
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                Nombre Clase
               
            </div>
            <div class="card-body">
                Body
            </div>
        </div>
    </div>

    
</div>