
<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted}" required/>
        <div *ngIf="submitted" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Nombre de usuario obligatorio!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted}" required/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Contraseña necesaria!</div>
        </div>
    </div>
    <div class='form-group'>
        <label for="cars">Elija su tipo de usuario :</label>
        <select name="rol" id="rol" (change)="selectChangeHandler($event)">
        <option value="estudiante">Estudiante</option>
        <option value="catedratico">Catedratico</option>
        <option value="admin">Administrador</option>
        </select>
        <!--<p><span>You selected: </span><b>{{selectedDay}}</b></p>-->
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click) = "Mostrar()">
        <!--<p *ngIf="showMyMessage">{{GetControls()}}{{getuser}}{{getpass}}</p>-->
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Ingresar
        </button>
        <a routerLink="/registro" class="btn btn-link"  routerLinkActive="active">Registrarse</a>
      </div>
</form>
<router-outlet></router-outlet>

