
<header id="header">
    <div class="container">
  
      <div id="logo" class="pull-left">
        <h1><a href="#" >E</a></h1>
      </div>
  
      <nav id="nav-menu-container">
        <ul class="nav-menu ">
          
          <li><a href="#" >Aqui</a></li>
          <li><a href="#" >Poner</a></li>
          <li><a href="#" >El </a></li> 
         
  
        </ul>
      </nav>
      <nav class="nav social-nav pull-right d-none d-lg-inline" >
        <a href="#"> <fa-icon [icon] = "['fas','fa-sign-out-alt']" (click)="logout()">
          
        </fa-icon>
        </a>
  
  
  
        
        
      </nav>
      <nav class="nav social-nav pull-right d-none d-lg-inline" >
          
  
          <a routerLink="reg-usuario"><fa-icon [icon] = "['fas','user-plus']" >
            
          </fa-icon></a>
  
           
      </nav>
    </div>
  </header>